# Load any parent .envrc files
source_up_if_exists 

# Load an .env file if it exists
dotenv_if_exists .env

# Ensure the required variables are present 
env_vars_required CONTAINER_REGISTRY CONTAINER_USERNAME CONTAINER_PASSWORD

# Write the variables to the devcontainer.env
echo "CONTAINER_REGISTRY=${CONTAINER_REGISTRY}" > .devcontainer/.env
echo "CONTAINER_USERNAME=${CONTAINER_USERNAME}" >> .devcontainer/.env
echo "CONTAINER_PASSWORD=${CONTAINER_PASSWORD}" >> .devcontainer/.env


